GOOGLE_DRIVE_CREDENTIAL=YOUR_GOOGLE_DRIVE_CREDENTIAL
GEMINI_CREDENTIAL=YOUR_GEMINI_CREDENTIAL
APIFY_CREDENTIAL=YOUR_APIFY_CREDENTIAL
GMAIL_CREDENTIAL=YOUR_GMAIL_CREDENTIAL
RESUME_FILE_ID=YOUR_RESUME_FILE_ID
RECIPIENT_EMAIL=YOUR_EMAIL@example.com
APIFY_ACTOR_ID=YOUR_APIFY_ACTOR_ID